body {
    background-color:cornsilk;
    font-family:'Courier New', Courier, monospace;
    display:block;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    Margin-left: 10%;
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.innout {
  animation: fadeInOut 3.5s infinite alternate ease-in-out;
}

.innout2 {
  animation: fadeInOut 2.5s infinite alternate ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 10%; 
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 10%;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 100%; 
  }
  50% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}

h1 {
    color:darkolivegreen;
    font-weight: normal;
}

h2 {
    color:darkolivegreen;
    font-style: italic;
    font-weight:normal;
}

h3 {
    color:olive;
    font-weight: lighter;
}

h4 {
    color:olive;
    font-size: smaller;
    font-weight: lighter;
    text-align: right;
}


a {
    color: olive;
    text-decoration: underline;
}

a:hover {
    color: goldenrod;
    padding: 0px 3px 0px 3px;
    border: dashed 1px goldenrod;
    font-style: italic;
}

#canvas {
    border: goldenrod double 3px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: block;
    text-align: center;
    margin:auto;
}

#poetry{
    animation: fadeIn 2.5s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:left;
    padding-top: 5%;
    padding-bottom: 3%;
}

img {
    animation: fadeIn 3.5s forwards;
}

#foot{
    padding-top: 0.5%;
    font-size: smaller;
    text-align: right;
    color: goldenrod
}

.topnav {
  padding-left: 4%;
  padding-bottom: 1%;
  overflow: hidden;
}

.topnav a {
  color: goldenrod;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  animation: none;
}

.topnav a:hover {
    color: olive;
    border: none;
    font-style: normal;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: transparent;
  color: olivedrab;
}

