body {
    background-color: honeydew;
    display:flex;
    justify-content: center;
}
#canvas {
    margin-top: 15%;
    justify-content: center;
} 
p {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:black;
text-align: center;
}

.switch {
  position: relative;
  margin-left: 15px;
  display: inline-block;
  width: 120px;
  height: 68px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 1px black;
  background-color:transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  left: 4px;
  bottom: 2px;
  border: solid 1px black;
  background-color:whitesmoke;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color:hotpink;
}

input:focus + .slider {
  box-shadow: 0 0 0px hotpink;
}

input:checked + .slider:before {
  -webkit-transform: translateX(48px);
  -ms-transform: translateX(48px);
  transform: translateX(48px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}