#container {
width: auto;
height: auto;
padding: 50px;
}
body {
    background-color:lightyellow;
    max-width: 65%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    color: mediumseagreen;
}
h2 {
    color:darkolivegreen;
}
h3 {
    color:darkolivegreen;
}
p {
	color:darkseagreen;
}
a {
    color:orchid;
    display:inline-block;
    padding: 3px;
    border: dashed 1px orchid
}
a:hover {
    color: chartreuse;
}  

