body {
    background-color:lightyellow;
    max-width: 65%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1 {
    color: mediumseagreen;
}
h2 {
    color:darkolivegreen;
}
h3 {
    color:darkolivegreen;
}
p {
	color:darkseagreen;
}
a {
    color:orchid;
}
a:hover {
    color: chartreuse;
}  
