body {
    background-color:lightyellow;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10%;
    margin-right: 20%;
    Margin-left: 20%;
    margin-bottom: 10%;
}
#main-body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 5px;
    justify-content: space-between;
}
#container {
width: auto;
height: auto;
display: block;
    box-sizing: border-box;
    border: 3px dotted orchid;
    padding: 10px 40px 10px;
}
#foot {
    color: orchid;
    font-size: 8pt;
    padding: 20px;
    text-align: right;
}
h1 {
    color: orchid;
}
h2 {
    color:mediumseagreen;
}
h3 {
    color:seagreen;
    font-style: italic;
}
p {
	color:darkseagreen;
}
a {
    color:orchid;
    display:inline-block;
    padding: 3px 5px 3px 5px;
    border: dashed 1px orchid
}
a:hover {
    color: chartreuse;
    display:inline-block;
    padding: 3px 5px 3px 5px;
    border: dashed 1px chartreuse
}  
hr {
  border: none; 
  height: 1px;
  background-color: orchid;
}
